.yellow {
	background-color: #FFBC2F;
	padding-bottom: 3em;
	width: 200px;
	height: 100px;
	display: inline-block;
	
}
.grey{
	background-color: grey;
	padding-bottom: 3em;
	width: 200px;
	height: 100px;
	display: inline-block;
	margin: 20px;

}
h4 {
	padding: 0.4em;
}
.blanco {
	color: white;
}